<launch>
	<!-- <include file="$(find cup_detect)/launch/cupDetect.launch"  output="screen" >
	</include> -->
	<node name="main_talker_launch" pkg="mission" type="main_talker_launch" />
	<node name="mission_topic_big" pkg="mission" output = "screen" type="mission_topic_big" />
	<param name="/mission_param" type="int" value="0" />
	<param name="/hand1" type="int" value="2" />
	<param name="/hand2" type="int" value="4" />
	<param name="/cup_no" type="int" value="2" />
	<param name="/angle" type="int" value="0" />
	<!-- <node name="ST2" pkg="mission" output = "screen" type="ST2" />    -->
	
	<!-- <node name= "camera_fake_server" pkg="mission" type="camera_fake_server" /> -->
	
	<param name="/cupx" type="int" value="0" />
	<param name="/cupy" type="int" value="11" />
	<param name="/cupcolor" type="int" value="0" />
	<!-- </node> -->
	
</launch>
