<launch>
 	<param name="/mission_param" type="int" value="0" />
	<param name="/hand1" type="int" value="6" />
	<param name="/hand2" type="int" value="4" />
	<!-- <node name="ST2_little" pkg="mission" output = "screen" type="ST2_little" /> -->
	<!-- <node name="main_talker_launch" pkg="mission" type="main_talker_launch" /> -->
	<!-- <node name="planer" pkg="mission" type="planer" /> -->
	<node name="mission_topic_little" pkg="mission" output = "screen" type="mission_topic_little" />
	
</launch>
